#game{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  
}
.pai-cenario {
  position: absolute;
  width: 100vw;
  height: 100vw;
  zoom: 0;
  z-index: 1; 
}

.cenario {
  position: relative; 
  width: 1200px;
  height: 100%; 
  z-index: 1; 
}

#estrada{
  width: 430px;
  height: 100%;
  position: relative;
  left: 294px;
  padding: 0;
  border: 0;
  top: 0px;
  z-index: 20;
}
.mostrador-velocidade {
  display: none;
  position: fixed;
  top: 10px;
  left: 80px;
  width: 50px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  z-index: 20;
  transform: rotateX(207deg);
  transform: rotate(270deg);
}

.velocidade {
  width: 100%;
  height: 0;
  background-color: green;
  transition: height 0.1s linear;
  z-index: 20;
  
}

.display-velocidade {
  position: fixed;
  top: 108px;
  width: 100px;
  left: 72px;
  font-size: 24px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 20;
}
#mostrador-de-tempo {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
}
.obstaculo.carro {
  width: 106px;
  height: 203px;
  left: -300px;
  background: url(../img/carros.png) -146px -15px;
}

.obstaculo.pessoa {
  width: 30px;
  height: 50px;
  background: url(../img/pessoa.png) no-repeat; 
  background-size: cover;
}

#mostradores {
  position: relative;
  top: 130px;
  left: 10px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vida-mostrador {
  position: fixed;
  top: 154px;
  left: 40px;
  width: 95px;
  height: 188px;
  overflow: hidden;
}

#vida-img {
  width: 92px;
  height: 200px;
}

#vida-preenchimento {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 75px;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  clip-path: inset(100% 0 0 0);
  z-index: 1;
}
